/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1;
	color: #000;
	background-color: #f5f5f5;
	font-family: "Roboto";
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */
.main {
	flex-grow: 1;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 25px;
}

/* №1 */
@media (max-width: 1050px) {
	[class*="__container"] {
		/* max-width: 970px; */
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		/* max-width: 750px; */
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		/* max-width: none; */
	}
}

/* ------------------------------ */

.main {
}
.home-page {
	background: url("../img/mainpage/duotone.jpg") center center / cover no-repeat;
	width: 100%;
	min-height: 100vh;
	padding: 26px 0 30px 0;
	display: flex;
}
.home-page__container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.header {
}
.header__top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -16px;
	row-gap: 20px;
}
.header__top:not(:last-child) {
	margin: 0 -16px 28px -16px;
}
@media (max-width: 856px) {
	.header__top:not(:last-child) {
		margin: 0 -16px 0 -16px;
	}
}
.header__logo {
	align-self: start;
	flex: 1 1 auto;
	padding: 0 16px;
}
.header__img-logo {
	text-align: center;
}
.header__schedule {
	padding: 0 16px;
}
.schedule {
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #ffffff;
	display: flex;
	column-gap: 10px;
}
@media (max-width: 856px) {
	.schedule {
		display: none;
	}
}
.schedule__icon {
	align-self: flex-start;
}
.schedule__title {
	text-transform: uppercase;
}
.schedule__info {
}
.header__phone {
	padding: 0 16px;
}
.phone {
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #ffffff;
	display: flex;
	column-gap: 10px;
}
@media (max-width: 856px) {
	.phone {
		display: none;
	}
}
.phone__icon {
	align-self: flex-start;
}
.phone__title {
	text-transform: uppercase;
}
.phone__numb {
	color: #ffffff;
}
.header__button {
	padding: 0 16px;
}
.button {
}
@media (max-width: 856px) {
	.header__button {
		display: none;
	}
}
.button__item {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	color: #fff;
	background: #f2726f;
	border-radius: 8px;
	padding: 13px 34px;
}

.header__burger {
	padding: 0 16px;
	display: none;
}
@media (max-width: 856px) {
	.header__burger {
		display: block;
	}
}
.burger {
}
.burger__items {
}
.burger__item {
	width: 40px;
	height: 2px;
	background: #fff;
	display: block;
	margin: 8.5px;
}
/* ------------------------------ */

.header__menu {
}

.menu {
	display: flex;
	background: #ffffff;
	border-radius: 10px;
	padding: 10px 20px;
}
@media (max-width: 856px) {
	.header__menu {
		display: none;
	}
}
.menu__items {
}
.menu__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.15px;
	color: #000000;
	padding: 0 18px;
}
.menu__item span {
	width: 12px;
	height: 12px;
	background: url("../img/mainpage/expand_more_24px.svg") no-repeat;
	display: inline-block;
}
.menu__block {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}
.menu__search {
	padding: 0 8px;
}
.menu__basket {
	padding: 0 8px;
	position: relative;
}
.menu__basket::after {
	content: "2";
	font-size: 10px;
	line-height: 1.6;
	font-weight: 900;
	background: #f2726f;
	color: #fff;
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: -4px;
	right: 4px;
}

.home-page__content {
	padding: 40px 0;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home-page__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	color: #ffffff;
	max-width: 600px;
}
.home-page__title:not(:last-child) {
	margin: 0 0 48px 0;
}
@media (max-width: 508px) {
	.home-page__title {
		font-size: 40px;
	}
}
.home-page__button {
}
.button {
}
.button__item {
}

/* ------------------------------ */
.who-we-are {
}
.who-we-are__container {
}
.who-we-are__body {
	background: #5d62b5;
	border-radius: 40px;
	padding: 100px 87px 60px 87px;
	margin: -80px 0 200px 0;
	position: relative;
	z-index: 5;
}
@media (max-width: 991.98px) {
	.who-we-are__body {
		padding: 60px 47px 20px 47px;
		margin: -40px 0 100px 0;
	}
}
@media (max-width: 767.98px) {
	.who-we-are__body {
		padding: 30px 27px 20px 27px;
		margin: -40px 0 40px 0;
	}
}
@media (max-width: 600px) {
	.who-we-are__body {
		border-radius: 20px;
		margin: -30px 0 40px 0;
	}
}
.who-we-are__body::before {
	content: "";
	width: 200px;
	height: 317px;
	display: block;
	background: url("../img/who-we-are/Stylize\ Circles.svg") no-repeat;
	position: absolute;
	top: -109px;
	right: -76px;
}
@media (max-width: 1148px) {
	.who-we-are__body::before {
		top: -60px;
		right: -20px;
	}
}
@media (max-width: 767.98px) {
	.who-we-are__body::before {
		display: none;
	}
}
.who-we-are__body::after {
	content: "";
	width: 665px;
	height: 591px;
	display: block;
	background: url("../img/who-we-are/Blob\ 2.png") no-repeat;
	position: absolute;
	bottom: -140px;
	left: -20px;
	z-index: 1;
}
@media (max-width: 767.98px) {
	.who-we-are__body::after {
		display: none;
	}
}
.who-we-are__header {
	position: relative;
	z-index: 5;
}
.who-we-are__header:not(:last-child) {
	margin: 0 0 36px 0;
}
@media (max-width: 767.98px) {
	.who-we-are__header:not(:last-child) {
		margin: 0 0 16px 0;
	}
}
.who-we-are__label {
	position: relative;
}
.who-we-are__label::before {
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	background: url("../img/title-icon_white.svg") no-repeat;
	position: absolute;
	top: -2px;
	left: 0;
}
.who-we-are__label:not(:last-child) {
	margin: 0 0 33px 0;
}
@media (max-width: 767.98px) {
	.who-we-are__label:not(:last-child) {
		margin: 0 0 16px 0;
	}
}
.label {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #f5f5f5;
	padding: 0 0 0 36px;
}
.who-we-are__title {
}
.title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #ffffff;
}
@media (max-width: 600px) {
	.title {
		font-size: 26px;
	}
}
.who-we-are__text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #f5f5f5;
	position: relative;
	z-index: 5;
}
@media (max-width: 600px) {
	.who-we-are__text {
		font-size: 14px;
	}
}
.who-we-are__text:not(:last-child) {
	margin: 0 0 54px 0;
}
@media (max-width: 767.98px) {
	.who-we-are__text:not(:last-child) {
		margin: 0 0 24px 0;
	}
}
.who-we-are__image {
	position: relative;
	z-index: 5;
}
.who-we-are__img {
	border-radius: 40px;
	margin: 0 0 -180px 0;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	max-width: 100%;
}
@media (max-width: 991.98px) {
	.who-we-are__img {
		margin: 0 0 -80px 0;
	}
}
@media (max-width: 767.98px) {
	.who-we-are__img {
		margin: 0;
	}
}
@media (max-width: 600px) {
	.who-we-are__img {
		border-radius: 20px;
	}
}
/* ------------------------------ */

.dog {
	background: #29c3be;
	position: relative;
}
.dog::before {
	content: "";
	width: 236px;
	height: 317px;
	display: block;
	background: url("../img/who-we-are/Stylize\ Circles.svg") no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
.dog::after {
	content: "";
	width: 473px;
	height: 349px;
	display: block;
	background: url("../img/dog/Blob_3.png") no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
@media (max-width: 767.98px) {
	.dog::before {
		display: none;
	}
	.dog::after {
		display: none;
	}
}
.dog__container {
}
.dog__body {
	display: flex;
	margin: 0 0 100px 0;
	min-height: 480px;
	justify-content: flex-end;
	position: relative;
}
@media (max-width: 767.98px) {
	.dog__body {
		flex-direction: column-reverse;
		justify-content: flex-start;
		min-height: auto;
	}
}
.dog__image {
	flex: 0 1 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(-40%, 0);
	z-index: 2;
}
@media (max-width: 767.98px) {
	.dog__image {
		position: relative;
		transform: translate(0, 0);
	}
}
.dog__img {
	width: 100%;
}
.dog__info {
	align-self: center;
	flex: 0 1 50%;
	padding: 20px 0 20px 80px;
	position: relative;
}
.dog__info::before {
	content: "";
	width: 136px;
	height: 136px;
	display: block;
	background: url("../img/dog/tennis\ ball.png") no-repeat;
	position: absolute;
	right: -30%;
	top: 0;
}
@media (max-width: 767.98px) {
	.dog__info {
		padding: 20px 0 20px 20px;
	}
	.dog__info::before {
		display: none;
	}
}
.dog__title {
}
.dog__title:not(:last-child) {
	margin: 0 0 42px 0;
}
.title {
}
.dog__button {
}
.button {
}
.button__item {
}

/* ------------------------------ */

.comment span {
	color: red;
	font-size: 30px;
}
